[Unit]
Description=gunicorn daemon
After=network.target

[Service] 
User={$ user, $USER }
Group={$ group, www-data }
WorkingDirectory={$ root_dir, $PWD }
ExecStart={$ path_to_env, $ENV_DIR }bin/gunicorn --access-logfile - --workers 3 --bind unix:{$ sock_path, $SOCK_DIR } {$ project_name, $PROJECT_NAME }.wsgi:application

[Install]
WantedBy=multi-user.target
